body {
  overflow-x: hidden;
  direction: rtl;
}

.owl-carousel {
  direction: ltr;
}

.owl-carousel .owl-nav,
.owl-carousel .owl-dots,
.owl-carousel .owl-item {
  direction: rtl;
}

.contact__input-box .bootstrap-select .dropdown-menu,
.bootstrap-select .dropdown-toggle .filter-option {
  text-align: right;
}

.list-unstyled {
  padding-right: 0;
}

.main-slider-one__image,
.main-slider-one__image__inner {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.000000 750.000000"><g transform="translate(0.000000,750.000000) scale(0.100000,-0.100000)" stroke="none"><path d="M1757 7486 c-3 -8 -23 -18 -44 -21 -78 -13 -210 -76 -293 -140 -47 -37 -458 -315 -465 -315 -1 0 -113 -74 -250 -165 -136 -91 -249 -165 -252 -165 -3 0 -22 -13 -43 -30 -21 -16 -41 -30 -45 -30 -4 0 -24 -13 -44 -29 -20 -15 -40 -30 -46 -32 -5 -2 -70 -44 -143 -92 l-132 -88 0 -3189 0 -3190 3533 0 c3679 0 3596 0 3722 40 48 15 85 30 145 59 194 94 352 271 432 486 54 144 66 262 48 470 -6 72 -14 161 -17 199 -10 122 21 251 81 331 40 53 53 66 112 106 93 64 208 107 344 129 68 11 140 31 185 52 146 66 340 322 375 492 4 22 15 45 24 52 20 14 24 176 4 172 -7 -2 -17 17 -24 43 -6 25 -18 56 -25 70 -47 84 -85 138 -175 245 -137 163 -173 219 -205 319 -35 110 -21 197 53 351 21 44 54 104 73 133 19 29 35 54 35 56 0 2 16 27 35 57 81 122 144 290 145 384 0 95 -46 202 -140 318 -52 64 -231 170 -342 202 -165 48 -403 41 -723 -21 -166 -32 -194 -37 -265 -46 -222 -29 -287 -29 -465 0 -228 38 -423 171 -497 341 -59 135 -61 152 -59 480 2 314 -6 408 -46 550 -31 109 -89 253 -126 315 -99 163 -156 237 -262 338 -181 175 -445 308 -690 348 -173 28 -256 33 -357 21 -222 -27 -297 -47 -480 -126 -32 -14 -513 -247 -552 -268 -11 -6 -31 -14 -45 -18 -14 -5 -50 -18 -80 -29 -132 -50 -219 -65 -381 -65 -136 0 -163 3 -220 23 -180 63 -300 161 -461 376 -138 183 -256 309 -351 373 -71 48 -184 98 -240 106 -32 5 -48 12 -48 22 0 21 -305 21 -313 0z"/></g></svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.000000 750.000000"><g transform="translate(0.000000,750.000000) scale(0.100000,-0.100000)" stroke="none"><path d="M1757 7486 c-3 -8 -23 -18 -44 -21 -78 -13 -210 -76 -293 -140 -47 -37 -458 -315 -465 -315 -1 0 -113 -74 -250 -165 -136 -91 -249 -165 -252 -165 -3 0 -22 -13 -43 -30 -21 -16 -41 -30 -45 -30 -4 0 -24 -13 -44 -29 -20 -15 -40 -30 -46 -32 -5 -2 -70 -44 -143 -92 l-132 -88 0 -3189 0 -3190 3533 0 c3679 0 3596 0 3722 40 48 15 85 30 145 59 194 94 352 271 432 486 54 144 66 262 48 470 -6 72 -14 161 -17 199 -10 122 21 251 81 331 40 53 53 66 112 106 93 64 208 107 344 129 68 11 140 31 185 52 146 66 340 322 375 492 4 22 15 45 24 52 20 14 24 176 4 172 -7 -2 -17 17 -24 43 -6 25 -18 56 -25 70 -47 84 -85 138 -175 245 -137 163 -173 219 -205 319 -35 110 -21 197 53 351 21 44 54 104 73 133 19 29 35 54 35 56 0 2 16 27 35 57 81 122 144 290 145 384 0 95 -46 202 -140 318 -52 64 -231 170 -342 202 -165 48 -403 41 -723 -21 -166 -32 -194 -37 -265 -46 -222 -29 -287 -29 -465 0 -228 38 -423 171 -497 341 -59 135 -61 152 -59 480 2 314 -6 408 -46 550 -31 109 -89 253 -126 315 -99 163 -156 237 -262 338 -181 175 -445 308 -690 348 -173 28 -256 33 -357 21 -222 -27 -297 -47 -480 -126 -32 -14 -513 -247 -552 -268 -11 -6 -31 -14 -45 -18 -14 -5 -50 -18 -80 -29 -132 -50 -219 -65 -381 -65 -136 0 -163 3 -220 23 -180 63 -300 161 -461 376 -138 183 -256 309 -351 373 -71 48 -184 98 -240 106 -32 5 -48 12 -48 22 0 21 -305 21 -313 0z"/></g></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: auto;
  mask-size: auto;
}

.main-slider-one__image-wrap {
  left: 0;
}

.main-slider-one__image__border {
  left: 0;
}

.main-slider-one__carousel .sifoxen-owl__carousel__counter__current::before {
  left: -11px;
}

.main-slider-one__carousel .sifoxen-owl__carousel__counter__total::before {
  display: none;
}

.main-slider-one__carousel .sifoxen-owl__carousel__counter__current::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -96px;
  transform: translateY(-50%);
  width: 76px;
  height: 1px;
  background-color: var(--sifoxen-gray);
}
@media (max-width: 767px) {
  .main-slider-one__carousel .sifoxen-owl__carousel__counter__current::after {
    left: -60px;
    width: 50px;
  }
}
@media (max-width: 575px) {
  .main-slider-one__carousel .sifoxen-owl__carousel__counter__current::after {
    display: none;
  }
}

@keyframes iconRotate {
  0%, 100% {
    transform: rotate(0deg);
  }
  25%, 75% {
    transform: rotate(-40deg);
  }
  50% {
    transform: rotate(-80deg);
  }
}
.about-one__experience {
  clip-path: circle(50% at 100%);
}

.solutions-one__image,
.solutions-one__image__inner {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.000000 768.000000"><g transform="translate(0.000000,768.000000) scale(0.100000,-0.100000)" stroke="none"><path d="M6910 7666 c0 -8 -15 -17 -37 -20 -133 -24 -287 -117 -404 -244 -34 -37 -114 -137 -179 -222 -205 -272 -321 -367 -508 -421 -135 -38 -375 -21 -547 41 -33 11 -74 25 -92 31 -24 7 -427 207 -519 257 -54 30 -194 88 -264 111 -158 51 -197 56 -415 56 -172 0 -224 -4 -285 -19 -124 -31 -264 -80 -330 -117 -8 -4 -37 -20 -65 -35 -124 -66 -310 -230 -406 -359 -42 -56 -139 -210 -139 -220 0 -3 -13 -33 -29 -67 -39 -84 -80 -210 -92 -278 -5 -30 -13 -75 -18 -100 -6 -25 -10 -190 -11 -367 0 -279 -2 -332 -19 -400 -37 -156 -105 -266 -216 -349 -214 -160 -522 -195 -950 -109 -307 61 -409 75 -561 75 -219 0 -373 -49 -523 -165 -147 -112 -221 -250 -221 -411 0 -124 34 -211 178 -451 137 -229 171 -313 172 -430 1 -127 -49 -230 -200 -415 -121 -147 -181 -238 -210 -319 -25 -68 -28 -245 -5 -322 36 -123 145 -295 257 -404 84 -82 122 -97 393 -159 202 -45 348 -156 416 -314 22 -51 24 -68 24 -220 -1 -91 -7 -215 -15 -277 -12 -99 -12 -126 3 -225 8 -62 22 -136 30 -164 18 -63 67 -167 101 -217 14 -21 26 -41 26 -44 0 -3 29 -38 65 -79 128 -142 278 -231 481 -283 61 -16 5637 -15 5736 0 63 10 182 39 283 69 148 43 354 155 513 278 221 170 410 416 526 685 50 114 99 287 111 390 4 40 11 57 21 57 22 0 21 4327 -1 4344 -8 6 -17 34 -20 61 -8 67 -48 219 -90 334 -15 41 -93 204 -118 246 -28 48 -110 169 -130 193 -190 225 -236 264 -642 537 -137 93 -299 206 -360 251 -151 113 -264 171 -367 190 -23 3 -38 12 -38 20 0 11 -29 14 -155 14 -126 0 -155 -3 -155 -14z"/></g></svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.000000 768.000000"><g transform="translate(0.000000,768.000000) scale(0.100000,-0.100000)" stroke="none"><path d="M6910 7666 c0 -8 -15 -17 -37 -20 -133 -24 -287 -117 -404 -244 -34 -37 -114 -137 -179 -222 -205 -272 -321 -367 -508 -421 -135 -38 -375 -21 -547 41 -33 11 -74 25 -92 31 -24 7 -427 207 -519 257 -54 30 -194 88 -264 111 -158 51 -197 56 -415 56 -172 0 -224 -4 -285 -19 -124 -31 -264 -80 -330 -117 -8 -4 -37 -20 -65 -35 -124 -66 -310 -230 -406 -359 -42 -56 -139 -210 -139 -220 0 -3 -13 -33 -29 -67 -39 -84 -80 -210 -92 -278 -5 -30 -13 -75 -18 -100 -6 -25 -10 -190 -11 -367 0 -279 -2 -332 -19 -400 -37 -156 -105 -266 -216 -349 -214 -160 -522 -195 -950 -109 -307 61 -409 75 -561 75 -219 0 -373 -49 -523 -165 -147 -112 -221 -250 -221 -411 0 -124 34 -211 178 -451 137 -229 171 -313 172 -430 1 -127 -49 -230 -200 -415 -121 -147 -181 -238 -210 -319 -25 -68 -28 -245 -5 -322 36 -123 145 -295 257 -404 84 -82 122 -97 393 -159 202 -45 348 -156 416 -314 22 -51 24 -68 24 -220 -1 -91 -7 -215 -15 -277 -12 -99 -12 -126 3 -225 8 -62 22 -136 30 -164 18 -63 67 -167 101 -217 14 -21 26 -41 26 -44 0 -3 29 -38 65 -79 128 -142 278 -231 481 -283 61 -16 5637 -15 5736 0 63 10 182 39 283 69 148 43 354 155 513 278 221 170 410 416 526 685 50 114 99 287 111 390 4 40 11 57 21 57 22 0 21 4327 -1 4344 -8 6 -17 34 -20 61 -8 67 -48 219 -90 334 -15 41 -93 204 -118 246 -28 48 -110 169 -130 193 -190 225 -236 264 -642 537 -137 93 -299 206 -360 251 -151 113 -264 171 -367 190 -23 3 -38 12 -38 20 0 11 -29 14 -155 14 -126 0 -155 -3 -155 -14z"/></g></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: auto;
  mask-size: auto;
}
/*# sourceMappingURL=sifoxen-custom-rtl.css.map */
